@model RecepcionDeRadios.Models.ReceipArticleDetail
@section Styles {
    <link href="@Url.Content("~/Content/Comments.css")" rel="stylesheet" type="text/css" />
}
<div class="container">
    <dl class="col-md-6 col-lg-6 col-sm-12">
        <h3>Detalles del Articulo</h3>
        <hr />
        <div class="panel panel-default col-lg-12"> 
            <dt>
                @Html.DisplayNameFor(model => model.ReceipArticle.usuarioRecibe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReceipArticle.usuarioRecibe)
            </dd>
        </div>
        <div class="panel panel-default col-lg-6"> 
            <dt>
                @Html.DisplayNameFor(model => model.ArticleID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ArticleID)
            </dd>
        </div>
         <div class="panel panel-default col-lg-6"> 
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
        </div>
        <div class="panel panel-default col-lg-12"> 
            <dt>
                @Html.DisplayNameFor(model => model.ReportedFailure)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReportedFailure)
            </dd>
        </div>
        <div class="col-md-12 col-lg-12">
            <a href="javascript:history.back();" class="btn btn-default"><i class="fas fa-long-arrow-alt-left"></i> Regresar</a> |
            <a href="@Url.Action("Edit",new { id = Model.Id })" class="btn btn-warning">Editar <span class="glyphicon glyphicon-pencil"></span></a>
        </div>
    </dl>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <h3>Comentarios</h3>
        <hr />
        <ul id="comment-list" class="comment-list">
        @foreach (var comment in Model.Comments){
            <li>
                <div class="comment-box">
                    <div class="comment-head">
                        <dt class="comment-name">@Html.DisplayFor(modelItem => comment.Username)</dt>
                        <span class="comment-label">Comentó</span>
                        <span class="comment-subject">@Html.DisplayFor(modelItem => comment.Subject)</span>
                    </div>
                    <div class="comment-content">
                        <dd>@Html.DisplayFor(modelItem => comment.Content)</dd>
                        <span class="comment-label">@Html.DisplayFor(modelItem => comment.fecha)</span>
                    </div>
                </div>
            </li>
        }
        </ul>
    </div>
</div>

