<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")" style="margin:auto; vertical-align:auto; align-content:center;">
                    <img alt="Logo" style="height: 22px; width: 113px; display:block; margin:auto;" src="https://aclara.mx/img/clientes/vidanta_blanco.png">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Administrador"))
                    {
                        <li>@Html.ActionLink("Recepciones", "", "receiparticle")</li>
                        <li>@Html.ActionLink("Artículos", "", "receiparticledetail")</li>
                        <li>@Html.ActionLink("Usuarios", "", "user")</li>
                    }
                    @if (User.IsInRole("Tecnico"))
                    {
                        <li>@Html.ActionLink("Artículos", "", "receiparticle")</li>
                    }
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a id="userbarname" href="@Url.Action("Edit", "User", new {id = @User.Identity.Name})">@HttpContext.Current.Session["User"].ToString() <i class="fas fa-user"></i></a>
                        </li>
                        <li>
                            <a href="@Url.Action("logout", "Home")">Logout <i class="fas fa-sign-out-alt"></i></a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("logout", "Home")">Login <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Recepción de radios</p>
        </footer>
    </div>
    @Scripts.Render("~/Scripts/cardsReceipArticle.js")
    @Scripts.Render("~/Scripts/UserActive.js")
    @Scripts.Render("~/Scripts/ReceipArticleDetailEdit.js")
    @Scripts.Render("~/Scripts/comments.js")
    @Scripts.Render("~/Scripts/stacktable.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
