@model RecepcionDeRadios.Models.ReceipArticle

@{
    ViewBag.Title = "Details";
}
@section Styles {
    <link href="@Url.Content("~/Content/ReceipArticle.css")" rel="stylesheet" type="text/css" />
}

<div class="container">
    <div class="col-sm-12 col-md-6 col-lg-6">
            <h2>Detalles de la recepción</h2>
            </hr>
            <div class="panel panel-default col-lg-12">
                <div class="form-group">
                    <dt>
                        @Html.DisplayNameFor(model => model.usuarioRecibe)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.usuarioRecibe)
                    </dd>
                </div>
            </div>
            <div class="panel panel-default col-lg-6"> 
                <dt>
                    @Html.DisplayNameFor(model => model.empleadoEntrega)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.empleadoEntrega)
                </dd>
            </div>
            <div class="panel panel-default col-lg-6">
                <dt>
                    @Html.DisplayNameFor(model => model.fechaRecibido)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.fechaRecibido)
                </dd>
            </div>
            <div class="panel panel-default col-lg-6">
                <dt>
                    @Html.DisplayNameFor(model => model.fechaEntregado)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.fechaEntregado)
                </dd>
            </div>
        <div class="col-md-12 col-lg-12">
            <a href="@Url.Action("Index")" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a> |
            <a href="@Url.Action("Edit",new {id = Model.ID })" class="btn btn-warning">Editar <span class="glyphicon glyphicon-pencil"></span></a>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
        <div id="articles" class="articles-container">
            <h2>Articulos recibidos</h2>
            @foreach (var item in Model.ReceipArticleDetails)
                    {
                        <div class="article">
                            <div class="article-preview"> 
                                <h6>ID del Articulo</h6>
                                <h4>@Html.DisplayFor(modelItem => item.ArticleID)</h4>
                            </div>
                            <div class="article-info"> 
                                <h6>Falla</h6>
                                <h4>@Html.DisplayFor(modelItem => item.ReportedFailure)</h4>
                                @Html.ActionLink("Actualizar Estatus", "Edit","ReceipArticleDetail", new { id=item.Id },new{@class="btn btn-warning btn-xs"})
                                @Html.ActionLink("Más Información", "Details","ReceipArticleDetail", new { id=item.Id },new{@class="btn btn-info btn-xs"})
                                @Html.ActionLink("Eliminar", "Delete","ReceipArticleDetail", new { id=item.Id },new{@class="btn btn-danger btn-xs"})
                            </div>
                        </div>
                    }
        </div>
    </div>
</div>

