@model IEnumerable<RecepcionDeRadios.Models.ReceipArticle>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de recepción de articulos</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success"><i class="fas fa-plus-circle"></i> Crear Nuevo</a>
</p>
<table id="tableReceip" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.usuarioRecibe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empleadoEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaRecibido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaEntregado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioRecibe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empleadoEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaRecibido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaEntregado)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id=item.ID })" class="btn btn-warning btn-xs">Editar <span class="glyphicon glyphicon-pencil"></span></a> |
            <a href="@Url.Action("Details", new { id=item.ID })" class="btn btn-info btn-xs">Detalles <span class="glyphicon glyphicon-info-sign"></span></a> |
            <a href="@Url.Action("Delete", new { id=item.ID })" class="btn btn-danger btn-xs">Eliminar <span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
}

</table>

